<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sanguosha.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sanguosha.Core.Properties.Settings>
            <setting name="IsUsing386" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadSequence" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>basic</string>
                        <string>battle</string>
                        <string>wind</string>
                        <string>fire</string>
                        <string>woods</string>
                        <string>hills</string>
                        <string>overknightfame11</string>
                        <string>overknightfame12</string>
                        <string>overknightfame13</string>
                        <string>sp</string>
                        <string>starsp</string>
                        <string>bronzesparrowterrace</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Sanguosha.Core.Properties.Settings>
    </userSettings>
</configuration>