Sanguosha/bin
Sanguosha/obj
*.suo
*.exe
*.dll
*.pdb
*.cache
*.user
/Bin
/Libraries
/UI/Animations/obj
/UI/Controls/obj
/UI/Resources/obj
/UI/SelfTest/obj
obj
/Core/obj
/Expansions/Basic/obj
/Expansions/Battle/obj
/Expansions/Fire/obj
