Resources
Source/Sanguosha/bin
Source/Sanguosha/obj
*.suo
*.exe
*.dll
*.pdb
*.cache
*.user
Bin
Source/Libraries
Source/UI/Animations/obj
Source/UI/Controls/obj
Source/UI/Resources/obj
Source/UI/SelfTest/obj
obj
Source/Core/obj
Source/Expansions/Basic/obj
Source/Expansions/Battle/obj
Source/Expansions/Fire/obj
Source/UI/SelfTest/bin